# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Django
db.sqlite3
*.sqlite3
staticfiles/

# VS Code
.vscode/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db